.nav-item {
  .nav-link {
    text-decoration: none;
    font-size: 16px;
    color: #4b5563;
    padding: 4px 0px;
    transition: color 0.3s;

    &.active,
    &:hover {
      color: #be185d;
      border-bottom: 2px solid #be185d;
    }
  }
}
