.footer-item {
  list-style: none;
}

.footer-link {
  text-decoration: none;
  font-size: 15px;
  color: #4b5563;
  padding: 4px 0px;
  transition: all 0.3s ease;

  border-bottom: 2px solid transparent;
  display: inline-block;
}

.footer-link:hover,
.footer-link.active {
  color: #be185d;
  border-bottom: 2px solid #be185d;
  padding-left: 5px;
}
