header {
  .navbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 3%;
    background-color: #ffffff;
    box-shadow: 0px 15px 16px -7px rgba(0, 0, 0, 0.1);
    .logo {
      flex-shrink: 0;
      z-index: 10;
      img {
        width: 150px;
        height: 100%;
        object-fit: cover;
      }
    }
    .nav-items {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      gap: 32px;
      align-items: center;
      list-style: none;
    }
  }
}
