header {
  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 3%;
    background-color: #ffffff;
    box-shadow: 0px 15px 16px -7px rgba(0, 0, 0, 0.1);
    .logo {
      img {
        width: 150px;
        height: 100%;
        object-fit: cover;
      }
    }
    .nav-items {
      display: flex;
      gap: 32px;
      align-items: center;
      list-style: none;
    }
  }
}
