header {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 3%;
    background-color: #ffffff;
    box-shadow: 0px 15px 16px -7px rgba(0, 0, 0, 0.1);
    .logo {
      img {
        width: 150px;
        height: 100%;
        object-fit: cover;
      }
    }
    .nav-items {
      display: flex;
      gap: 32px;
      align-items: center;
      list-style: none;
    }

    .btn-default {
      border-radius: 24px;
      padding: 10px 22px;
      cursor: pointer;
      background-color: #be185d;
      border: none;
      color: #ffffff;
      font-family: inherit;
      font-weight: 500;
      transition: all 0.3s;
      &:hover {
        background-color: #9d174d;
      }
    }
  }
}
